.four-quarters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    width: 100%;
    min-height: 500px;

    &__image-section {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 600px;
        grid-column: span 1;
    }

    &__content-section {
        grid-column: span 3;
        width: 100%;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: var(--color-bg-gray);
    }

    &__title {
        font-size: 1.75rem;
        font-weight: 700;
        margin: 0;
        color: #333;
    }

    &__description {
        font-size: 1rem;
        line-height: 1.6;
        margin: 0;
        color: #666;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;

        &__top {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            flex: 1;

            // CardHeader (primer hijo) - 35% del contenedor
            > :first-child {
                flex: 0 0 35%;
            }

            // RowCard (segundo hijo) - 65% del contenedor
            > :last-child {
                flex: 0 0 65%;
            }
        }

        &__bottom {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            flex: 1;

            // RowCard (primer hijo) - 65% del contenedor
            > :first-child {
                flex: 0 0 65%;
            }

            // CardHeader (segundo hijo) - 35% del contenedor
            > :last-child {
                flex: 0 0 35%;
            }
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;

        &__image-section {
            min-width: 100%;
            height: auto;

        }

        &__content-section {
            padding: 1.5rem;
        }

        &__cards {
            flex-direction: column;

            &__top {
                flex-direction: column;
            }

            &__bottom {
                flex-direction: column;
            }
        }
    }


}