---
import "./styles.scss";
import { Button } from "@ars-design/bauhaus-ui";

interface Props {
    backgroundImage?: string;
}

const { backgroundImage } = Astro.props;
---

<div class="hero">
    <div
        class="hero__left"
        style={backgroundImage
            ? `background-image: url(${backgroundImage});`
            : ""}
    >
        <slot name="left" />
    </div>
    <div class="hero__right">
        <div class="hero__title">
            <h1 class="hero__title-text">Bauhaus UI</h1>
        </div>
        <div class="hero__red-line"></div>
        <div class="hero__content">
            <div class="hero__text">
                <h3>
                    Una librería de componentes donde la arquitectura se
                    encuentra con la interfaz
                </h3>
                <p>
                    Diseñada desde la mirada de una arquitecta, diseñadora UI y
                    desarrolladora frontend, una librería UX/UI inspirada en la
                    escuela que transformó el diseño moderno. Minimalismo,
                    estructura y claridad al servicio de la experiencia.
                </p>
                <div class="hero__buttons">
                    <Button client:load>Explorar componentes</Button>
                    <Button
                        client:load
                        variant="outline"
                        color="blue"
                        size="medium"
                    >
                        Ver proceso de diseño
                    </Button>
                </div>
            </div>
            <div class="hero__blue-line"></div>
        </div>
    </div>
</div>
