---
import "./styles.scss";

interface Props {
    backgroundImage?: string;
}

const { backgroundImage } = Astro.props;
---

<div class="hero">
    <div
        class="hero__left"
        style={backgroundImage
            ? `background-image: url(${backgroundImage});`
            : ""}
    >
        <slot name="left" />
    </div>
    <div class="hero__right">
        <div class="hero__title">
            <h1 class="hero__title-text">Bauhaus UI</h1>
            <div class="hero__yellow-line"></div>
        </div>
        <div class="hero__red-line"></div>
        <div class="hero__content">
            <div class="hero__text">
                <h2>Forma, función y equilibrio digital.</h2>
                <p>
                    Una librería UX/UI inspirada en la escuela que transformó el
                    diseño moderno.Minimalismo, estructura y claridad al
                    servicio de la experiencia.
                </p>
                <div class="hero__buttons">
                    <button>Explorar componentes</button>
                    <button>Ver proceso de diseño</button>
                </div>
            </div>
            <div class="hero__blue-line"></div>
        </div>
    </div>
</div>
