---
import "./styles.scss";
---

<div class="hero">
    <div class="hero__title">
        <h1 class="hero__title-text">Bauhaus UI</h1>
        <div class="hero__yellow-line"></div>
    </div>
    <div class="hero__red-line"></div>
    <div class="hero__content">
        <div class="hero__text">
            <h2>Elige tu concepto</h2>
            <p>Elige el concepto que mas te guste</p>
            <div class="hero__buttons">
                <button>Concepto 1</button>
                <button>Concepto 2</button>
            </div>
        </div>
        <div class="hero__blue-line"></div>
    </div>
</div>
