.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 40px;
    height: 100vh;


    &__yellow-line {
        width: 8px;
        height: 100%;
        background-color: yellow;
    }

    &__red-line {
        width: 70%;
        height: 8px;
        background-color: red;
    }

    &__blue-line {
        width: 8px;
        height: 100%;
        background-color: blue;
    }

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    &__title-text {
        transform: rotate(270deg);
        margin: 0;
    }

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0 24px;
        gap: 24px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 1;
        padding: 24px 0;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

}