// Global Styles
:root {
    // Font families
    --font-family-inter: 'Inter', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-base: var(--font-family-inter), var(--font-family-roboto);

    // Colors
    --color-bg: #ffffff;
    --color-bg-gray: #DCDDDF;
    --color-border-black: #1a1a1a;
    --color-text-black: #1a1a1a;
    --color-text-white: #ffffff;
    --color-text-gray: #333333;
    --color-primary: #0063C2;
    --color-secondary: #F9B700;
    --color-tertiary: #AE3624;

    // Spacing
    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 4rem;

    // Borders
    --border-sm: 3px solid var(--color-tertiary);
    --border-md: 5px solid var(--color-border-black);
    --border-lg: 8px solid var(--color-border-black);

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.875rem;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
    background-color: var(--color-bg);
    color: var(--color-text);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}