---
import "./styles.scss";

interface Props {
	title: string;
	content: string;
}

const { title, content } = Astro.props;
---

<div class="description">
	<h2 class="description__title">
		{title}
	</h2>
	<p class="description__content">
		{content}
	</p>
	<slot />
</div>
