.fifty-fifty {
    display: flex;
    width: 100%;
    min-height: 600px;
    border-bottom: 3px solid #000;

    >* {
        flex: 1;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
        min-height: auto;

        >* {
            width: 100%;
            height: auto;
        }
    }
}