.color-stripe {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    gap: 2rem;

    &__text {
        margin: 0;
        text-align: center;
    }

    @media (max-width: 768px) {
        padding: 16px;

        >* {
            width: 100%;
            height: auto;
        }
    }
}