---
import "./styles.scss";
---

<div class="three-quarters">
    <div class="three-quarters__main">
        <div class="three-quarters__main-top">
            <slot name="main-top-left" />
            <slot name="main-top-right" />
        </div>
        <div class="three-quarters__main-middle">
            <slot name="main-middle" />
        </div>
        <div class="three-quarters__main-bottom">
            <slot name="main-bottom-left" />
            <slot name="main-bottom-right" />
        </div>
    </div>
    <div class="three-quarters__side">
        <h1 class="three-quarters__side-title">
            <slot name="side-title" />
        </h1>
        <div class="three-quarters__side-sections">
            <slot name="side-sections" />
        </div>
    </div>
</div>

<slot />
